<section>
	<ul class="nav nav-pills"> 
			<li ng-class="{active: panel.isSelected(1)}"><a ng-click="panels.selectTab(1)" href="#">Description </a></li>
			<li ng-class="{active: panel.isSelected(2)}"><a  ng-click="panels.selectTab(2)" href="#">Specification</a></li>
			<li ng-class="{active: panel.isSelected(3)}"><a ng-click="panels.selectTab(3)" href="#">Review</a></li>
		</ul>

			
<div class="panel" ng-show="panels.isSelected(1)">
			<h4>Description</h4>
			<p>{{pickup.description}}</p>
		</div>
		
		<div class="panel" ng-show="panels.isSelected(2)">
			<h4> Specification</h4>
			<p>{{pickup.size}}  <em class="pull-right">{{pickup.price | currency}} </em> </p>
		</div>
		
		<div class="panel" ng-show="panels.isSelected(3)">
		
		
			<ul> <h4>Reviews</h4><li ng-repeat="oldreview in pickup.reviews">
					<blockquote>
						<product-review></product-review>
					</blockquote>
				</li>
			<ul>
								
			
				<form name="reviewForm" ng-controller="ReviewController as reviewCtrl"
										ng-submit="reviewForm.$valid && reviewCtrl.addReview(pickup)" novalidate> 
					<h4>Submit a Review </h4>
					<!--  Live Preview -->
					<blockquote ng-show="reviewCtrl.review">
						<b> {{reviewCtrl.review.stars}} Star </b>
						<p>
								Review Comments : {{reviewCtrl.review.body}}</p>
						<cite> by - {{reviewCtrl.review.author}} </cite>
					</blockquote>
					<!--  Review Form -->
					 
								<fieldset class="form-group"  >
								<select class="form-control" ng-model="reviewCtrl.review.stars" ng-options="stars for stars in [1,2,3,4,5]" title="Stars" required>
									 <option value="">Rate the Product</option>
								</select>  
								</fieldset>
						
								<fieldset class="form-group">
								<textarea class="form-control"  type="text" ng-model="reviewCtrl.review.body" title="Review Comments" required> </textarea>  
								</fieldset>
							
							<fieldset class="form-group">
								<input type="email" class="form-control" placeholder="jimmyDean@example.org"  ng-model="reviewCtrl.review.author" title="Author" required> </input>  
							</fieldset>
							
							<div> Review form is {{reviewForm.$valid}}</div>
							<input type="submit" class="btn btn-primary pull-right" value="Submit Review" />
				</form>
			
		</div>
<section>	